

    <footer class="footer" >
      <div class="container-fluid ">
        <nav class="float-left  ">
          <ul>

            <li>
              <a href="https://www.groupe-telnet.com/">
                Telnet Holding
              </a>
            </li>
            <li>
              <a  href="#"><i class="material-icons"> phone</i></a>
              
            </li>
            <li>
              <a  href="#"><i class="material-icons"> gmail</i></a>
            </li>
            <li>
              <a  href="{% url 'maps' %}"><i class="material-icons"> place</i></a>
            </li>
          </ul>
        </nav>

        <div class="copyright float-right">
          &copy; Copyright<strong> Telco03 </strong>_ By Nadine Chouari. All Rights Reserved
        </div>
      </div>
  </footer>
